#
# Gitignore file
#

# GCC products

*.o
/game

# Test output
/output.png

# Autools products

.deps
*.in
Makefile

/0
/aclocal.m4
/autom4te.cache
/compile
/config.h
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# Emacs

*~
\#*\#